<header>
  <div class="jumbotron container">
    <h1 class="center">Welcome to <span id="THE">THE</span> Store</h1>
    {{#link-to 'index'}}Home{{/link-to}}
  </div>
</header>

{{outlet}}

<br>
<hr>
<footer>
</footer>
